#showtext {
  margin-top: 150px;
  text-align: center;
}
#ant_table1 {
  height: 50%;
  width: 50%;
}
#ant_crate1 {
  height: 50%;
  width: 50%;
}
#exec1 {
  height: 50%;
  width: 50%;
}
div.slideshow-container {
  margin-top:300px;
}
