.box {
  width: 300px;
  height: 300px;
  margin-top: 280px;
  display: block;
  margin-left: auto;
  margin-right: 250px;
  border-radius: 4px;
  filter: drop-shadow(8px 8px 6px lightgrey);
}
.main {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}
h2 {
  font-weight: bold;
}
.imgText {
  margin-top: 180px;
  position: absolute;
  top: 50%;
  left: 25%;
  width: 30%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 20px;
  font-family: cambria;
}
.pic {
  margin-top: 250px;
  margin-bottom: 15px;
 padding-bottom: 60px;
  text-align: center;
  border-bottom: solid 9.5px lightblue;
}
#information {
  grid-column: 2/3;
  grid-row: 2/3;
}
