body {
  padding: 0% 5% 0% 5%;
}
div.nav {
  position: relative;
  height: 400px;
  border-: 4px lightblue;
}
.links {
  margin-top: 50px;
  position: relative;
  top: 200px;
  z-index: 1;
}
#email {
  border-bottom: 1px solid lightblue;
  font-weight: bold;
}
#contact {
  border: 2px solid rgb(92, 94, 94);
  background-color: grey;
  color: white;
  border-radius: 2px;
}
.links a {
  display: block;
  text-decoration: none;
  width: 200px;
  border-bottom: 1px hsla(200, 50%, 60%, 0.7) solid;
  padding: 1%;
  color: rgb(2, 9, 17);
}
.logo {
  height: 170px;
  width: 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mirror {
  height: 400px;
  width: 350px;
  display: block;
  margin-left: auto;
  float: right;
  border-radius: 25%;
  border: 2.5px solid lightblue;
}
.house_flower {
  height: 400px;
  width: 350px;
  display: block;
  border-radius: 25%;
  border: 2.5px solid lightblue;
}
#img2 {
  float: left;
  left: 800;
  position: relative;
  top: 400px;
}
#columbia1 {
  float: left;
  right: 160;
  position: relative;
  top: 1000px;
}
#social_media {
  float: left;
  left: 595;
  position: relative;
  top: 1020px;
}
#social {
  width: 30%;
  height: 400px;
}
div navbar {
  position: relative;
  margin: 0 auto;
  display: in-line block;
  text-align: left;
  width: 45%;
}
div.pics1 {
  position: absolute;
  top: 400px;
  right: 0;
  left: 100;
  margin-right: 375px;
  margin-left: 175px;
  width: 40%;
  border-left: 4px solid lightblue;
  padding: 50px;
  border-radius: 75px;
}
div.pics2 {
  position: absolute;
  top: 1050px;
  right: 50;
  left: 200;
  margin-right: 200px;
  margin-left: 400px;
  width: 40%;
  border-right: 4px solid lightblue;
  padding: 50px;
  border-radius: 75px;
}
div.footer {
  position: absolute;
  background-color: rgb(211, 211, 211);
  text-align: center;
  width: 20%;
  right: 0;
  left: 400;
  top: 1500px;
}
div.bottom {
  position: absolute;
  background-color: black;
  color: white;
  top: 2050px;
  height: 250px;
  left: 0;
  width: 1370px;
}
#copyright {
  position: absolute;
  bottom: 15px;
  text-align: center;
  width: 100%;
}
#left {
  position: absolute;
  left: 50px;
  text-align: left;
}
#right {
  position: absolute;
  right: 50px;
  text-align: left;
}
#foot {
  text-align: center;
}
li {
  font-size: 1.55882em;
  font-family: Agency FB;
  display: in-line block;
}
ul {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
a:hover {
  color: grey;
}
p {
  position: relative;
  text-align: left;
  font-family: calibri;
  font-size: 1.2em;
  line-height: 2;
}
p.id {
  text-align: center;
}
